.popup__input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 30px 0 0 0;
    padding: 13px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    color: #000000;
}

@media (max-width: 550px) {
    .popup__input-job {
        margin-top: 17px;
    }
}