.popup__close {
	position: absolute;
	width: 40px;
    height: 40px;
	top:-40px;
	right: -40px;
    background: transparent url(../../../images/close-icon.svg) center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    border:none;
    transform: rotate(90deg);
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}


@media (max-width: 550px) {
    .popup__close {
        width: 26px;
        height: 26px;
        top: -26px;
        right: 0;
        background-size: 26px 26px;
    }
}